*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}

*, /* Todos los elementos antes y después*/
*::before,
*::after{ 
    box-sizing: border-box; /* Borde de caja fijo */
}

html{
    scroll-behavior: smooth;
}


body{
    min-height: 100vh;
    
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


ul, ol{
    list-style: none;
}

img, video, iframe, picture, figure{
    max-width: 100%;
    display: block
}

a{
    display: block;
    text-decoration: none;
    color:  inherit;
}
p a{
    display: inline;
    color:  inherit;
}

form, input, select, textarea, button, label{
    display: block;
    font-family: inherit;
    font-size: inherit;
    color:  inherit;
}